@import 'fonts.css';
@import 'variables.css';

html {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: var(--fontSize);
  line-height: 1.25;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
  background-color: var(--bgColor);
}
