:root {
  --mainColor: rgba(53, 60, 80, 1);
  --whiteColor: rgb(255, 255, 255, 1);
  --bgColor: rgba(53, 60, 80, 0.05);
  --hoverColor: rgba(53, 60, 80, 0.05);
  --borderRadius: 4px;
  --fontSize: 18px;
}
